#home-section{
    color:rgb(49, 219, 208);
}
#skill-section{
    background: linear-gradient(to bottom left, #ffffff 0%, #ccffff 100%);
    color: rgb(38, 20, 56);
}
#media-section{
    background: linear-gradient(to bottom left, #ffffff 0%, #ccffff 100%);
}
#education-section{
    color: black;
    background: linear-gradient(to top left, #ffffff 0%, #ccffff 100%);
}
#home-section{
    color: black;
    background: linear-gradient(to top left, #ffffff 0%, #ccffff 100%);
}

    

